.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .2s ease;
    backface-visibility: hidden;

    &:hover{
        cursor: pointer;
    }

    &__primary{
    color: $color-primary;
    background-color: transparent;
    background-image: none;
    border-color: $color-primary;
    box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.3);
    transition: all .2s ease;
    backface-visibility: hidden;
    padding: .375rem .75rem;

      &:hover{
        background-color: $color-primary;
        color: $color-grey-light-2;
        backface-visibility: hidden;
      }
    }

    &__secondary{
    color: $color-secondary;
    background-color: transparent;
    background-image: none;
    border-color: $color-secondary;
    box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.3);
    padding: .375rem .75rem;
    transition: all .2s ease;
    backface-visibility: hidden;

      &:hover{
        background-color: $color-secondary;
        color: $color-grey-light-2;
        backface-visibility: hidden;
      }
    }

    &__dark{
      color: $color-grey-dark-3;
      background-color: transparent;
      background-image: none;
      border-color: $color-grey-dark-3;
      box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.3);
      transition: all .2s ease;
      backface-visibility: hidden;
      padding: .375rem .75rem;

        &:hover{
          background-color: $color-grey-dark-3;
          color: $color-grey-light-2;
          backface-visibility: hidden;
        }
    }

    &__light{
      color: $color-grey-light-2;
      background-color: transparent;
      background-image: none;
      border-color: $color-grey-light-2;
      box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.3);
      transition: all .2s ease;
      backface-visibility: hidden;
      padding: .375rem .75rem;

        &:hover{
          background-color: $color-grey-light-2;
          color: $color-grey-dark-3;
          backface-visibility: hidden;
        }
    }

    &__small-primary{
        color: $color-light;
        background-color: $color-primary;
        background-image: none;
        border-color: $color-primary;
        box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.3);
        padding: .2rem .5rem;
        font-size: .9rem;
        opacity:.70;
        transition: all .2s ease;
        backface-visibility: hidden;

        &:hover{
          opacity:1;
          backface-visibility: hidden;
        }

        @include atMedium{

          background-color: rgba($color-primary, 0.6);

          box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.2);
          opacity:1;
          padding: .2rem .3rem;
          font-size: .8rem;

          & > *{

              height: .9rem;
              width: .9rem;
          }
        }
    }

    &__small-secondary{
        color: $color-light;
        background-color: $color-secondary;
        background-image: none;
        border-color: $color-secondary;
        box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.3);
        padding: .2rem .5rem;
        font-size: .9rem;
        opacity:.70;
        transition: all .2s ease;
        backface-visibility: hidden;

        &:hover{
          opacity:1;
          backface-visibility: hidden;
        }

        @include atMedium{
        background-color: rgba($color-secondary, 0.6);

        box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.2);
        opacity:.90;
        padding: .2rem .3rem;
        font-size: .8rem;

            & > *{
                height: .9rem;
                width: .9rem;
            }
        }
    }

    &__small-dark{
      color: $color-light;
      background-color: $color-grey-dark-3;
      background-image: none;
      border-color: $color-grey-dark-3;
      box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.3);
      padding: .2rem .5rem;
      font-size: .9rem;
      opacity:.70;
      transition: all .2s ease;
      backface-visibility: hidden;

      &:hover{
        opacity:1;
        backface-visibility: hidden;
      }

      @include atMedium{
      background-color: rgba($color-grey-dark-3, 0.6);
      box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.2);
      opacity:.90;
      padding: .2rem .3rem;
      font-size: .8rem;

          & > *{
              height: .9rem;
              width: .9rem;
          }
      }
    }
}

.flex__button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  &-item{
    width:48%;
    margin-top: 1rem;

    @include atSmall{
      width:100%;
    }
  }

  @include atSmall{
    flex-direction: column;
    align-items: stretch;
  }
}
