.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in-out;
    backface-visibility: hidden;

    &__primary{
    color: $color-primary;
    background-color: transparent;
    background-image: none;
    border-color: $color-primary;
    transition: all .2s ease-in-out;
    backface-visibility: hidden;

      &:hover{
        background-color: $color-primary;
        border:none;
        color: $color-grey-light-2;
        backface-visibility: hidden;
      }
    }

    &__secondary{
    color: $color-secondary;
    background-color: transparent;
    background-image: none;
    border-color: $color-secondary;
    transition: all .2s ease-in-out;
    backface-visibility: hidden;

      &:hover{
        background-color: $color-secondary;
        border:none;
        color: $color-grey-light-2;
        backface-visibility: hidden;
      }
    }

    &__tertiary{
      color: $color-grey-dark-3;
      background-color: transparent;
      background-image: none;
      border-color: $color-grey-dark-3;
      transition: all .2s ease-in-out;
      backface-visibility: hidden;

        &:hover{
          background-color: $color-grey-dark-3;
          border:none;
          color: $color-grey-light-2;
          backface-visibility: hidden;
        }
    }

    &:hover {
        font-size: 1.1rem;
        backface-visibility: hidden;
    }
}
