.form{

  &__input--group{
      position: relative;

      &-password{
        position: absolute;
        right: 5px;
        top: 4px;
        background-color: transparent;
        border: 1px solid rgba($color-grey-dark-3, .3);
        border-radius: .25rem;
        padding: .1rem .3rem;
        vertical-align: middle;
        color:$color-grey-dark;

        &:hover{
          cursor: pointer;
          color: $color-primary;
          border: 1px solid rgba($color-grey-dark-3, .5);
        }
      }
  }

  &__item{
      display: block;
      width: 100%;
      margin-top: .3rem;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      background-color: transparent;
      border: 1px solid rgba($color-grey-dark-3, .6);
      border-radius: .25rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

      &:focus{
        outline: none;
        box-shadow: none;

      &:invalid {
        border: 1px solid rgba($color-secondary,.6);
      }
    }
  }

  &__group{

    display:flex;
    margin-bottom: 1.5rem;

    &--input{
      margin-right: .4rem;
      width: 95%;
    }

    &--info{
      position: relative;
      border: 1px solid rgba($color-grey-dark-3, .3);
      border-radius: .25rem;
      padding: .4rem;
    }

    &--password{
      position: absolute;
      right: 5px;
      top: 9px;
      background-color: transparent;
      border: 1px solid rgba($color-grey-dark-3, .3);
      border-radius: .25rem;
      padding: .1rem .3rem;
      vertical-align: middle;
      color:$color-grey-dark;

      &-hide{
        opacity: 0;
        z-index: -10;

        &-show{
          opacity: 1;
          z-index: 1;
        }
      }

      &-show{
        z-index: 1;

        &-hide{
          opacity: 0;
          z-index: -10;
        }
      }

      &:hover{
        cursor: pointer;
        color: $color-primary;
        border: 1px solid rgba($color-grey-dark-3, .5);
      }
    }
  }

  &__forgot-pass{
    margin-top: 2.5rem;
    display: block;
    text-align: center;
    & a{
      color: $color-secondary;

      &:hover{
        color: $color-grey-dark-3;
      }
    }
  }

  &__remember{
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: .9rem;
    margin-bottom: 1rem;

      & input {
      width: 15px;
      height: 15px;
      padding: 0;
      margin:0;
      vertical-align: bottom;
      position: relative;
      top: -3px;

      &:hover{
        cursor: pointer;
      }
    }
  }

  &__effect--visible{
    opacity: .3;
    pointer-events: none;
  }
}

.popover{
  background-color: $color-grey-light-1;
  position: absolute;
  width: 300px;
  height: auto;
  left: -30px;
  border: 1px solid $color-grey-dark;
  border-radius: .25rem;
  margin-top:3rem;
  z-index: -10;
  visibility: hidden;
  opacity: 0;

  @mixin  atLarge{
  right: -30px;
  left: auto;
  }

  &::before{
  content:"";
   position: absolute;
   height: 0px;
   width: 0px;
   top: -30px;
   left: 28px;
   border-width: 15px;
   border-color: transparent transparent $color-grey-dark-2 transparent;
   border-style: solid;

   @mixin  atLarge{
   right: 28px;
   left: auto;
   }

  }

  &__close{
    border: 1px solid rgba($color-grey-dark-3, .2);
    padding: 0 .3rem 0 .3rem;
    border-radius: .25rem;
    &:hover{
      cursor:pointer;
      color: $color-secondary;
    }
  }

  &__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    background-color:rgba($color-grey-dark-2, .5);
    padding: .8rem;

  }

  &__content{
    padding: .8rem;
    font-size: .9rem;
  }

  &__visible{
    transition: all .5s ease;
    z-index: 10;
    visibility:visible;
    opacity: 1;
    margin-top:1rem;
  }
}
