.header{
  background: rgba($color-light, 0.8);
  position: fixed;
  top:0;
  width: 100%;
  box-shadow: 1px 1px 4px $color-primary;

}

.nav{

  padding-top: 1rem;
  padding-bottom: 1rem;

  &__form{

    /*display:none;
    @mixin atMedium{

      display:block;
    }*/
  }

  &__primary{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &--item{
      margin-left: 1rem;

      &:hover{
        font-size: 1.1rem;
          color:$color-primary;
          border-bottom: 1px solid $color-secondary;

      }

      @mixin atMedium{
        padding-bottom: 1rem;
        &:hover{

            border-bottom: none;
        }

      }

      &-profile{
        margin-left: auto;

        &:hover{
          font-size: 1.1rem;
            color:$color-primary;
            border-bottom: 1px solid $color-secondary;
        }
        &:hover > *{
          fill: $color-grey-dark-3;
        }

        @mixin atMedium{
          margin-left:1rem;
          padding-bottom: 1rem;

          &:hover{

              border-bottom: none;
          }

        }

      }

      &-logout{
        margin-left: 1rem;

        &:hover{
            font-size: 1.1rem;
            color:$color-secondary;
            border-bottom: 1px solid $color-primary;
        }

        &:hover > *{
          fill: $color-grey-dark-3;
        }

        @mixin atMedium{
          margin-left:1rem;
          padding-bottom: 1rem;

          &:hover{

              border-bottom: none;
          }

        }

      }

      &-icon-login-user{
        height: 1.2rem;
        width: 1.2rem;
        fill: $color-primary;

      }

      &-icon-logout-user{
        height: 1.2rem;
        width: 1.2rem;
        fill: $color-secondary;

      }

    }

    &--search{
      width: 12rem;
      flex-shrink: 0;
      border: 1px solid $color-primary;
      border-radius: .25rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover{
        width: 16rem;
      }
      &:focus{
        width: 16rem;
      }

      &-input {
          font-family: inherit;
          font-size: inherit;
          color: inherit;
          background-color: $color-grey-light-2;
          border:none;
          padding: .5rem;
          width: 100%;
          border-top-left-radius: .25rem;
          border-bottom-left-radius: .25rem;


          &:focus {
              outline: none;
              background-color: $color-light;
          }

          &::-webkit-input-placeholder {
              font-weight: 100;
              color: $color-grey-dark-3;
          }

      }



      &-button {
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        outline: none;
        border-left:1px solid $color-primary;
        border-top: none;
        border-bottom:none;
        border-right:none;
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;

        padding: .3rem;

        &:hover {
          cursor:pointer;
          background-color: $color-primary;
        }
        &:hover > *{
            fill: $color-light;

        }
        &:active{
          outline: none;

        }
        &:focus{
          outline: none;

        }

      }

      &-icon {
          height: 1.6rem;
          width: 1.6rem;
          fill: $color-primary;

      }

      @mixin atMedium{
            width: 100%;

            &:hover{
              width: 100%;
            }
            &:focus{
              width: 100%;
            }

      }

    }


    @mixin atMedium{
        flex-direction: column;
            align-items: stretch;

    }
  }

  &__secondary{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &--item{
      margin-left: auto;

      @mixin atSmall{
        margin-right:auto;
        padding-top: 1rem;
        padding-bottom: 1rem;

          }
    }

    @mixin atSmall{
    flex-direction: column;
    align-items: stretch;


        }
  }

  &__web-name-text{
    position:absolute;
    top: 0;
    left: 0;
    margin:0;
    padding: 0;
    text-indent: -9999px;
    display: inline-block;
  }

  &__web-name-logo{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right:  2rem;
    align-items: center;



    @mixin atLarge{
      margin-right:1rem;


        }
  }



  &__link--item {

  }
}
