.images-grid{
  display: grid;
  grid-template-rows: minmax(220px, 220px);
  grid-template-columns:repeat(3, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(220px, 220px);
  align-items: center;
  justify-items: center;

  @mixin atLarge{
      grid-template-rows: minmax(190px, 190px);
      grid-auto-rows: minmax(190px, 190px);
  }

  @mixin atMedium{
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: minmax(auto, auto);
    grid-auto-rows: minmax(auto, auto);

    & > :nth-last-child(n+3){
      margin-bottom: -2rem;
    }
  }

  @mixin atSmall{
    grid-template-columns:1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-gap: 0;

    & > :nth-last-child(n+3){
      margin-bottom: 0;
    }
  }

  &__item{
      min-width: 22vw;
      width:100%;
      position: relative;


    &--imgs{
        min-width:100%;

        &:hover > .images-grid__item--imgs-link{
          transform: scale(1.1);
          cursor: zoom-in;
        }

      &-link{
        min-width:100%;
        background-color: lightblue;
        box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.3);
        height: 220px;
        transition: transform .2s ease;

        @mixin atLarge{
            height: 190px;
        }

        @mixin atMedium{
          height: 200px;
        }

        @mixin atSmall{
          min-height: 320px;
        }

        @mixin atSmallest{
          min-height: 180px;
        }

      }
      & img {
        width: 100%;
        vertical-align: bottom;
        height: 100%;
        object-fit: cover;
      }
    }

    @mixin atLarge{
      min-width: 25vw;
      width:100%;
    }

    @mixin atMedium{
      min-width: 35vw;
      width:100%;

      & hr{
        display:block;
      }
    }

    @mixin atSmall{
      min-width: 70vw;
      width:100%;
    }
  }
}

.like__download{
  opacity:0;
  z-index: -2;
  position: absolute;
  bottom: 10px;
  left:25%;
  right:25%;
  display: flex;
  align-items: center;
  justify-content: center;



  &--likes-link{
    margin-right: .5rem;
  }

  &--download-link{
    margin-left: .5rem;
  }

  @mixin atMedium{
    margin-top: 1.3rem;
    opacity:1;
    z-index: 1;
    position: relative;
    left:0;
    bottom: 0;
  }

  &--visible{
    opacity:1;
    z-index: 1;
  }
}

.modal__like-download{
  position: absolute;
  bottom: 20px;
  left:15%;
  right: 35%;
  display: flex;
  align-items: center;
  justify-content: center;

  @mixin atMedium{
    bottom: 15px;
    left:25%;
    right: 25%;
  }

}
