*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {

    margin-top: 6.3rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-grey-dark-3;
    background: url("../../assets/images/logos/sand_pattern_red_overlay.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;

}
.body{
  overflow:hidden;
}
ul li{
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $color-grey-dark-3;

}

hr{
  display: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

small{
  font-size: 80%;
  font-weight: 400;
}

form{
  display: block;
  margin-top: 0em;

  & textarea {
    resize: none;
  }
}

.container{
  max-width:80%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;

  @mixin atLarge{
  max-width:  62em;
  }

  @mixin atMedium{
  max-width: 48em;
  }

  @mixin atSmall{
    max-width: 36em;
  }

}

.mr-medium{
  margin-right: 1rem !important;
}
.mb-medium{
  margin-bottom: 1rem !important;
}

.mb-large{
  margin-bottom: 2rem !important;
}

.mb-xlarge{
  margin-bottom: 2.5rem !important;
}

.ml-medium{
  margin-left: 1rem !important;
}

.mt-medium{
  margin-top: 1rem !important;
}

.mt-large{
  margin-top: 2rem !important;
}
.mt-xlarge{
  margin-top: 2.5rem !important;
}

.text-muted{
  color:$color-grey-dark;
}

.color-light{
  color: $color-grey-light-1;
}

.full-width{
  width: 100%;
}

.section{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  &--light{
    background-color: $color-grey-light-1;
  }
  &--primary{
    background-color: $color-primary;
  }
}

.card{
  width: 60%;
  background-color:  $color-grey-light-1;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: .25rem;

  &__heading{
    padding: 1rem 0 2rem 0;
    text-align:center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 2rem;
    font-weight: 400;
  }

  @mixin atMedium{
    width: 100%;
  }

}

.icon-big{
  vertical-align: baseline;
  height: 1.6rem;
  width: 1.6rem;
}

.icon-small{
  vertical-align:baseline;
  height: 1.2rem;
  width: 1.2rem;

}

.icon-smallest{
  position: relative;
  top: 3px;
  height: 1rem;
  width: 1rem;
}

.icon-primary{
  fill: $color-primary;
}

.icon-secondary{
  fill: $color-secondary;
}

.icon-dark{
  fill: $color-grey-dark-3;
}

.icon-light{
  fill: $color-grey-light-1;
}

.reveal-item {
  opacity: 0;
  transition: all 1.5s ease-out;
  transform: scale(1.15);

  &--is-visible {
    opacity: 1;
    transform: scale(1);
  }
}
