*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin-top: 6.5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-grey-dark-3;
    background: url("../../assets/images/logos/sand_pattern_red_overlay.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

ul li{
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-grey-dark-3;
}

hr{
  display: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

small{
  font-size: 80%;
  font-weight: 400;
}

img{
  max-width: 100%;
}

.container{
  max-width:80%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;

  @mixin atLarge{
  max-width:  62em;
  }

  @mixin atMedium{
  max-width: 48em;
  }

  @mixin atSmall{
    max-width: 36em;
  }

}

.mr-medium{
  margin-right: 1rem !important;
}

.ml-medium{
  margin-left: 1rem !important;
}

.text-muted{
  color:$color-grey-dark;
}
